@import url("https://fonts.googleapis.com/css2?family=Festive&family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Ubuntu:wght@300;400;500;700&display=swap");
/* font-family: 'Festive', cursive; */
/* font-family: 'Source Sans Pro', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

.flex {
  display: inline-block;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.flex h1 {
  width: 45%;
  text-transform: uppercase;
  font-family: "Festive", cursive;
}
.flex h3 {
  width: 45%;
  color: brown;
  font-family: "Ubuntu", sans-serif;
}
